/*   FONT   */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root
{
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);

    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);
}

*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background-color: var(--very-light-gray);
    color: var(--grayish-blue);
}

.container
{
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 30px;
}

.header
{
    text-align: center;
}
.header h2
{
    font-size: 34px;
    font-weight: 200;
    color: var(--very-dark-blue);
}
.header h3
{
    font-size: 34px;
    font-weight: 600;
    color: var(--very-dark-blue);
}
.header p
{
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;

}

.main
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    margin-top: 60px;
}

.card
{
    background-color: #fff;
    border-radius: 7px;
    padding: 30px;
}
.text
{
    text-align: left;
    padding-bottom: 50px;
}

.card1
{
    border-top: 4px solid var(--cyan);
}
.card2
{
    border-top: 4px solid var(--red);
}
.card3
{
    border-top: 4px solid var(--orange);
}
.card4
{
    border-top: 4px solid var(--blue);
}

.text h5
{
    font-size: 20px;
    color: var(--very-dark-blue);
    margin-bottom: 10px;
}
.card-container
{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.card1, 
.card4
{
    align-self: center;
}

@media (max-width: 768px)
{   
    .main
    {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 425px)
{   
    body
    {
        font-size: 13px;
    }
    
    .header h2
    {
        font-size: 22px;
    }
    .heder h3
    {
        font-size: 22px;
    }

    .card
    {
        padding: 20px;
    }
    .text
    {
        padding-bottom: 30px;
    }
}